<!--<div class="generos">
  <div class="container">
      <section class="content">
        <ul class="lista-generos" *ngFor="let genero of padres" >
            <button>
                <h1 class="lista"> {{ genero.nombreCategoria }} </h1>
             </button>
          <ul class="lista-generos" >
             <li *ngFor="let hijo of genero?.hijos">
                <p>{{ hijo.nombreCategoria }} </p>
             </li>
          </ul>
        </ul>
    </section>
      <aside>
      </aside>
  </div>
</div>-->

<div class="generos">
   <div class="container">
       <section class="content">
         <ul class="lista-generos" *ngFor="let genero of generos" >             
            <span class="lista"><b> {{ genero.nombreCategoria }}</b></span>              
            <ul class="lista-generos" >
              <li>
               <p [routerLink]="['/album']">Rock alternativo 1</p>
              </li>
           </ul>
         </ul>
         <ul class="lista-generos" *ngFor="let genero of generos" >             
            <span class="lista"><b> {{ genero.nombreCategoria }}</b></span>              
            <ul class="lista-generos" >
              <li>
                 <p>Rock alternativo</p>
              </li>
           </ul>
         </ul>
         <ul class="lista-generos" *ngFor="let genero of generos" >             
            <span class="lista"><b> {{ genero.nombreCategoria }}</b></span>              
            <ul class="lista-generos" >
              <li>
                 <p>Rock alternativo</p>
              </li>
           </ul>
         </ul>
         <ul class="lista-generos" *ngFor="let genero of generos" >             
            <span class="lista"><b> {{ genero.nombreCategoria }}</b></span>              
            <ul class="lista-generos" >
              <li>
                 <p [routerLink]="['']">Rock alternativo</p>
              </li>
           </ul>
         </ul>
         <ul class="lista-generos" *ngFor="let genero of generos" >             
            <span class="lista"><b> {{ genero.nombreCategoria }}</b></span>              
            <ul class="lista-generos" >
              <li>
                 <p>Rock alternativo</p>
              </li>
           </ul>
         </ul>
         <ul class="lista-generos" *ngFor="let genero of generos" >             
            <span class="lista"><b> {{ genero.nombreCategoria }}</b></span>              
            <ul class="lista-generos" >
              <li>
                 <p>Rock alternativo</p>
              </li>
           </ul>
         </ul>
         
     </section>
       <aside>
       </aside>
   </div>
 </div>
