.generos
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-height : 100vh
    .container
        width 100%
        display flex
        justify-content center
        min-height 80vh
        section
            width 100%
            background-color rgba(0,0,0, .1)
            min-height 80vh
            display grid
            grid-template-columns: repeat(3, 1fr);
            span
                font-family: Arial
                font-size: 20px
                padding: 10px
            .lista-generos
                margin-top: 10px
                li
                    text-decoration: none
                    font-family: Arial
                    list-style none
                    padding: 1px
                    border-radius: 40px
                    text-align: center
                    transition: 2s;
                li:hover
                    background-color: #ABB2B9
                    padding: 1px
                    border-radius: 40px
        aside
            min-height 80vh
            background-color rgba(0,0,0, .1)
            width 250px
            margin-left 10px


