.generos
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-height : 100vh
    .container
        width 100%
        display flex
        justify-content center
        min-height 80vh
        section
            width 100%
            background-color rgba(0,0,0, .1)
            min-height 80vh
            display grid
            grid-template-columns: repeat(3, 1fr);
            h1
                color white
                font-family arial
        aside
            min-height 80vh
            background-color rgba(0,0,0, .1)
            width 250px
            margin-left 10px
    // .generos-content
    //     display: flex
    //     flex-direction: column
    //     justify-content: center
    //     align-items: center
    //     background-color: white
    //     min-width : 50vw
    //     min-height: 50vh
    //     -webkit-box-shadow: -7px 10px 19px 7px rgba(0,0,0,0.75);
    //     -moz-box-shadow: -7px 10px 19px 7px rgba(0,0,0,0.75);
    //     box-shadow: -7px 10px 19px 7px rgba(0,0,0,0.75);
    //     .lista-generos
    //         width: 90%
    //         padding: 10px
    //     .lista-generos:hover
    //
    //         background-color:  #e5e8e8
            // transition:all 0.3s ease
li
    list-style: none
    a
        text-decoration: none
        font-family: Arial
        color: black
