<div class="login">
	<div class="login-content">
		<div class="portada-login">
			<img src="" alt="">
		</div>
		<div class="form-container">
			<h2>Login</h2>

			<form [formGroup]="formGroup" class="formulario-login">

				<div class="example-container">
					<mat-form-field class="example-full-width">
						<input matInput class="example-right-align" name="email" formControlName="email" type="email"
							placeholder="Correo Electrónico" />
					</mat-form-field>

					<mat-form-field>
						<input matInput class="example-right-align" name="password" formControlName="password"
							type="password" placeholder="Contraseña" />
					</mat-form-field>
				</div>

				<div class="contenedor-botones">
					<button mat-raised-button class="btn-login" (click)="logIn()" [disabled]="formGroup.invalid">Entrar
					</button>
					<button mat-raised-button class="btn-registrar" routerLink="/registro">
						Registrarme
					</button>
				</div>
			</form>


			<!--<form [formGroup]="formulario" class="formulario-login" (ngSubmit)="enviar()">
        <div class="example-container">
          
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" 
              formControlName="emailFormControl">
            <mat-error 
              *ngIf="emailFormControl.hasError('email') && 
              !emailFormControl.hasError('required')">
                Dirección de correo inválido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Corre electronico <strong>requerido</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="contrasena" placeholder="Contraseña"  type="password">
          </mat-form-field>
        </div>
      </form>-->

		</div>
	</div>
</div>