.login
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    .login-content
        display: flex
        display: grid
        grid-template-columns: repeat(2, 1fr)
        justify-content: center
        align-items: center
        width: 90%
        height 80vh
        -webkit-box-shadow: -5px 9px 21px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: -5px 9px 21px -4px rgba(0,0,0,0.75);
        box-shadow: -5px 9px 21px -4px rgba(0,0,0,0.75);
        border-radius: 20px
        .portada-login
            height 100%
            background: url('../../../../assets/img/portada2.jpg')
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-position: center
            background-repeat: no-repeat
            text-align: center;
            -webkit-filter: opacity(70%); /* Safari 6.0 - 9.0 */
            filter: opacity(70%);
            border-radius: 20px 0 0 20px
        .form-container
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            background-color: #F2F3F4;
            height 100%
            padding-left: 5%
            padding-right: 5%
            border-radius: 0 20px 20px 0
            h2
                font-family: Arial
            .formulario-login
                height: 100% 
                width: 100%              
                .example-container
                    display: flex;
                    flex-direction: column;
                .example-container > *
                    width: 100%;
                    .example-right-align 
                        text-align: left ;
                    input.example-right-align::-webkit-outer-spin-button,
                    input.example-right-align::-webkit-inner-spin-button 
                        display: none;
                    input.example-right-align 
                        -moz-appearance: textfield;
            .contenedor-botones
                display: grid
                grid-template-columns: repeat(2, 1fr)
                column-gap: 2%
                width: 100%
                margin-bottom: 20%
                .btn-login
                    background-color: #3498DB
                    width: 100%
                .btn-registrar
                    color: blue
