<div class="registro">
  <div class="registro-content">
    <div class="portada-registro">
      <img src="" alt="">
    </div>    
    <div class="formulario-container">
      <h2>Registro de usuario</h2>
      <form [formGroup]="formGroup" class="formulario-registro">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Nombre"
              formControlName="nombre">
          </mat-form-field>
                
          <mat-form-field>
            <input matInput placeholder="Apellidos" 
              formControlName="apellidos">
            </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" 
              formControlName="email">
            </mat-form-field>
              
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Contraseña" 
              formControlName="contrasena">
          </mat-form-field> 
        </div>
        <div class="contenedor-botones">
          <button class="btn-enviar" mat-raised-button
            (click)="registro()" [disabled]="formGroup.invalid">
              Registrame
          </button>
          <button class="btn-login" routerLink="/login" mat-raised-button>
            Logearme
          </button>
        </div>
      </form>      
  </div>
  </div>
</div>
