.home
    .container
        display flex
        margin-top 20px
        aside
            margin-left 20px
            width 300px
            background-color rgba(0, 0, 0, .1)
            .titulo
                height 100px
                width 100%
                color white
                background-color black
