<div class="album">
  <div class="album-container">
    <div class="content">
      <div class="portada-album">
        <img class="imagen" 
        
        alt="" 
        
        >
      </div>
      <div class="descripcion-album">
        <h2>Descripción:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Qui aliquid laborum laboriosam enim rem nihil corrupti illum 
            repudiandae nulla! Sapiente error itaque assumenda ut beatae 
            laboriosam eos rem veritatis et. <br><br>
            <b>Fecha de lanzamiento:</b> 23/01/1994
          </p>
      </div>
      <div class="resena-album">
        <div class="area-resena">
            <textarea placeholder="Danos tu opinión sobre el albúm"></textarea>
        </div>
        <div class="votar">
            <button class="btn-votar" mat-button><b>Votar</b></button>
        </div>        
      </div>

      <aside class="relacionados">
        <h2>Albumes relacionados</h2>
        <div class="album-relacionado">
          <div >
            <img src="" alt="">
          </div>
          <div>
            <img src="" alt="">
          </div>
          <div>
            <img src="" alt="">
          </div>
          <div>
            <img src="" alt="">
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
