.slider
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-height : 100vh
    .slider-content
        width 100%
        display flex
        justify-content center
        min-height 80vh
        .imagen
            width 100%
            min-height 80vh
            img
                background-position: center
                background-repeat: no-repeat
                background-size: cover
                max-height : 532px