.slider
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-height : 100vh
    .slider-content
        .example-card
            background-color:  #808b96
        .example-card:hover .imagen
        .example-card
            overflow:hidden
        img
            background-position: center
            background-repeat: no-repeat
            background-size: cover
            height : 450px    
            margin-bottom: 2px
            /*transition:all 0.6s ease*/
        /*img:hover    
            filter: saturate(180%)*/
