<div class="grid-albumes">
    <section class="top">
        <div class="titulo">
            <span>Top de la semana</span>
      </div>
      <div class="grid-albumes-content">
        <div class="panel" *ngFor="let album of visibles">
            <div class="album">
                <div class="imagen" style="background-image : url('https://picsum.photos/200/300/?random')">
                    <!-- <img src=""> -->
                </div>
                <span> {{album.nombreAlbum}} </span>
            </div>

        </div>
      </div>
    </section>
    <section class="top">
        <div class="titulo">
            <span>Top de la semana</span>
      </div>
      <div class="grid-albumes-content">
        <div class="panel" *ngFor="let album of visibles">
            <div class="album">
                <div class="imagen" style="background-image : url('https://picsum.photos/200/300/?random')">
                    <!-- <img src=""> -->
                </div>
                <span> {{album.nombreAlbum}} </span>
            </div>

        </div>
      </div>
    </section>

</div>
